<%= hidden_field( :project, :id ) %>

<p><%= f.label :title %>: </p>
<p><%= f.text_field :title, :value=>@project.title, :class=>"text-field-input" %></p>

<p><%= f.label :url, "URL" %>: </p>
<p><%= f.text_field :url, :value=>@project.url, :class=>"text-field-input" %></p>

<p><%= f.label :source %>: </p>
<p><%= f.text_field :source, :value=>@project.source, :class=>"text-field-input" %></p>

<p><%= f.label :date %>: </p>
<p><%= f.text_field :date, :value=>@project.date, :class=>"text-field-input" %></p>

<p><%= f.label :description %>: </p>
<p><%= f.text_field :description, :value=>@project.description, :class=>"text-field-input" %></p>

<br>

<p>Tags:</p>
<div class="current-tags"><%= render "tags/remove", taggable: @project if @project %></div>
<br>

<p>Available Tags (click to add):</p>
<div class="available-tags"><%= render "tags/add" %></div>

<%= hidden_field(:tag, :ids) %>

<br><br>

<p><%= f.radio_button :published, true, :checked=> @project.published %>  <%= f.label :published %></p>
<p><%= f.radio_button :published, false, :checked=> !(@project.published) %>  <%= f.label :published , "Unpublished" %></p>

<br>

<p class="flash-errors"><%= flash[:errors].first if flash[:errors] %></p>


