<div class="container">
	<% if logged_in? && @unpublished.length > 0 %>
		<%= render @unpublished %>
		<%= will_paginate @unpublished %>	
	<% end %>

	<%= render @projects %>
	<%= will_paginate @projects %>

  <% if logged_in? %>
    <br>
		<p><%= link_to("New Project", new_project_path, :class=>"submit-button") %></p>
  <% end %>
</div>



