<%= hidden_field( @post, :id ) %>

<p><%= f.text_field :title, :value=>@post.title, :class=>"text-field-input", :placeholder=>"Title"%></p>

<p><%= f.text_field :date, :value=>@post.date, :class=>"text-field-input", :placeholder=>"Date" %></p>

<p><%= f.text_field :description, :value=>@post.description, :class=>"text-field-input", :placeholder=>"Description" %></p>

<p><%= f.text_area :body, :value=>@post.body, :class=>"text-area-input" %></p>

<br>

<p>Tags:</p>
<div class="current-tags"><%= render "tags/remove", taggable: @post if @post %></div>
<br>

<p>Available Tags (click to add):</p>
<div class="available-tags"><%= render "tags/add" %></div>

<%= hidden_field(:tag, :ids) %>

<br><br>

<p><%= f.radio_button :published, true, :checked=> @post.published %>  <%= f.label :published %>
<%= f.radio_button :published, false, :checked=> !(@post.published) %>  <%= f.label :published , "Unpublished" %></p>

<br>

<p class="flash-errors"><%= flash[:errors].first if flash[:errors] %></p>


