<div class="index-container">
	<% if logged_in? %>
		<% if !post.published %>
			<h3 class="title">DRAFT: <%= link_to(post.title, edit_post_path(post)) %></h3>
		<% else %>
			<h3 class="title"><%= link_to(post.title, edit_post_path(post) ) %></h3>
		<% end %>
	<% else %>
		<h3 class="title"><%= link_to(post.title, post_path(post) ) %></h3>
	<% end %>
	<p><%=post.description%> | <%=post.date%></p>

	<%= render "tags/taggable", taggable: post %>
</div>