<div class="container">
  <h1 class="title"><%=@post.title%></h1>
	<p class="date"><%=@post.date%></p>
	<p class="body"><%=@post.body.html_safe%></p>
	<br>
	<%= render "tags/taggable", taggable: @post %>
	<% if logged_in? %>
		<div class="spacer"></div>
		<%= link_to("Edit Post", edit_post_path(@post), :class=>"submit-button") %>
	<% end %>
</div>


